<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace填对应的mapper路径 -->
<mapper namespace="com.example.demo.mapper.CommodityMapper">

    <!-- 映射map id=起个名字 type=对应的entity -->
    <resultMap id="commodity" type="com.example.demo.entity.Commodity" >
        <result column="commodity_id" property="commodity_id" />
        <result column="commodity_name" property="commodity_name" />
        <result column="commodity_des" property="commodity_des" />
        <result column="commodity_type" property="commodity_type" />
        <result column="commodity_integral" property="commodity_integral" />
        <result column="commodity_stock" property="commodity_stock" />
        <result column="commodity_status" property="commodity_status" />
    </resultMap>

    <!--  -->
    <select id="getCommodityAll" resultMap="commodity" >
        select * from tb_commodity where commodity_id in
        <foreach collection="commodityIds" item="id" open="(" close=")" separator="," >
            #{id}
        </foreach>
    </select>
</mapper>